body {
  text-align: center;
  margin: 0;
  padding-bottom: 2rem;  
  background-image: url('/images/start.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-size: 100% 150%;
}

html{
  scroll-behavior: smooth;
  margin: 0;
}
  
::-webkit-scrollbar {
  display: none;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin-top:  3%;
  color: #FFD9C0;
}

#start-button {
  background-color: transparent;
  position: absolute;
  top: 15%;
  right: 20%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  padding: 0;
}

@keyframes moveOut {
  0% {
    transform: translate(-50%, -80%);
  }
  100% {
    transform: translate(150%, -800%) rotate(-60deg);
  }
}

@keyframes moveBack {
  0% {
    transform: translate(150%, -800%) rotate(60deg);
  }
  100% {
    transform: translate(-50%, -80%);
  }
}

#start-button img{
  height:40px;
  width:40px;
}

.color_board {
  display: block;
  width: 33%;
  margin: 2rem auto;
}

.btn {
  margin: 0.5rem;
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 5px solid #000000;
  cursor:pointer;
}

.red {
  background-color: #FF1700;
}

.orange {
  background-color: #FF8E00;
}

.blue {
  background-color: #30E3DF;
}

.purple {
  background-color: #B2A4FF;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.scores_board{
  margin-top: 5rem;
  width: 50%;
  margin: auto;
  text-align: center;
}

h2, h1{
  text-decoration-line: underline;
  color:#654321
}

.musketeers{
  color: #CBFFA9;
}

.scores_table{
  margin: auto;
  padding-bottom: 2rem;
}

th, td {
  border: 1px solid;
  text-align: center;
  padding: 0.8rem
}

th {
  background-color: #D14D72;
}

td {
  background-color: #FEF2F4;
}

#popup-form {
  position: fixed;
  top: 52%;
  left: 50%;
  font-size: larger;
  font-weight: bold;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 30%;
  padding: 20px;
  color: #EAE0DA;
  background-color:#0B666A;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  -webkit-box-shadow: -1px 200px 200px 200px #FCC2FC;
  -moz-box-shadow: -1px 200px 121px 14px #FCC2FC;
  box-shadow: -1px 200px 200px 14px #CBB279;
}

.form_header1{
  display: block; 
  text-align: center;
  margin-top: 3rem;
}

.form_header2{
  margin-top: 1rem;
  display: grid; 
  text-align: left;
} 

.king_pic{
  width: 30%;
  margin-bottom: 5%;
  background-repeat: no-repeat;
  display: grid;
}

.form-off{
  display: none;
}

.page-blur{
  filter: blur(25px); /* Applying blur effect */
}

.form_button {
  background-color: #0d6510; 
  color: white;
  border-radius: 50%;
  border-color: #EFE1D1;
  border: 2px solid;
  padding: 5%;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 0;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
  opacity: 0.9;
}

.form_button:hover {
  background-color: #A2FF86;
  color: black;
  border-color: white;
  box-shadow: none;   
  opacity: 1;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 17rem;
  color: #FF78C4;
  font-size: 1.8rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES (Tablets)) */

@media screen and (max-width: 1024px){
  #popup-form {
    width: 40%;
    height: 40%;
  }
  .btn {
    margin: 0.5rem;
    height: 3rem;
    width: 3rem;
  }
  footer {
    font-size: 1.5rem;
  }
  .color_board {
    width: 50%;
  }
}

/* MEDIA QUERIES (SMALL DEVICES (Phones)) */

@media screen and (max-width: 600px) {
  #popup-form {
    background-size: 50%;
    width: 50%;
  }
  .scores_board{
    margin-right: 100px;
  }
  .btn {
    border: 1px solid black;
  }
  .scores_board h2{
    width: 150%;
    text-align: left;
  }
}